<body>
<div class="section text-h-center text-v-center"></div>

.center{
  text-align: center;
}

#container{
     height:800px;
     margin-top:0px;
     background: linear-gradient(lightblue,white);
     background: linear-gradient(lightblue,white);
     background: linear-gradient(lightblue,white);
     background: linear-gradient(lightblue,white);
     }
</body>
