.style{
  font-family: times new roman;
}
 <div style="text-align:center;line-height:100px;"> Guten Tag, Hello, こんにちは, Bonjour, Xin chào------Welcome to Liu Pin Wei's page~
    </div>
h1{
  font-family: times new roman;
} 
