body{
  font: 300 14px/1.2 'Times New Roman', san-serif;
   margin-top: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   margin-left: 0px;
}
     
#T2B{
   height:800px;
   margin-top:0px;
   background: -webkit-linear-gradient(lightblue,white);
   background: -o-linear-gradient(lightblue,white);
   background: -moz-linear-gradient(lightblue,white);
   background: linear-gradient(lightblue,white);
}

.center{
  text-align:center;
}
